/* AppComponent's private CSS styles */
h1 {
  margin-left: 30px;
  color: white
}

.leftnav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: auto;
  /*overflow: auto;*/
  padding-top: 20px;
}



.leftnav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFAFA;
  display: block;
}

.leftnav a:hover {
  color: #FFFAFA;
}

@media screen and (max-height: 500px) {
  .leftnav {padding-top: 15px;}
  .leftnav a {font-size: 18px;}
}

.search-wrapper {
  width: 70%;
  margin-left: 30px;
}
