<div *ngIf="loginService.isLoggedIn()" class="leftnav"> 
<h1 class="store">31<sup>st</sup> Game Store</h1>
<h2>Menu</h2>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a  routerLink="/user-profile/{{loginService.getLoginID()}}">Profile</a>
  <a  routerLink="/carrinho">Carrinho</a>
  <div class="search-wrapper">
    <app-items-search></app-items-search>
  </div>
  <div class = "cart-wrapper">
    <img src='https://www.pngaaa.com/api-download/1172027' class='cart_icon' routerLink="/cart/{{loginService.getLoginID()}}">
    <label for="cart-label" routerLink="/cart/{{loginService.getLoginID()}}">Cart ({{getNItems()}})</label>
  </div>
  <div class = "logout">
    <a (click)="logout()">Logout</a>
  </div>

</nav>
</div>

<router-outlet></router-outlet>
