/* AppComponent's private CSS styles */

h2 {
  color: rgb(255, 253, 253);
  margin-bottom: 0.25em;
}

.store {
  color: rgb(0, 255, 0);
  padding-left: 0.1cm;
  position: fixed;
}

.leftnav {
  padding-left: 30px;
  height: 100%;
  min-width: 150px;
  max-width: 210px;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(16, 19, 33);
  overflow-x: auto;
  /*overflow: auto;*/
  padding-top: 20px;
}

nav {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftnav a {
  text-decoration: none;
  font-size: 25px;
  color: #FFFAFA;
  display: block;
  width: fit-content;
  padding: 0.25em;
}

.leftnav a:hover {
  background-color: rgba(128, 128, 128, 0.538);
}

@media screen and (max-height: 500px) {
  .leftnav {padding-top: 15px;}
  .leftnav a {font-size: 18px;}
}

.search-wrapper {
  width: 70%;
}
