/* AppComponent's private CSS styles */

h1 {
  color: rgb(255, 253, 253);
  margin-bottom: 0.25em;
}

.leftnav {
  padding-left: 30px;
  height: 100%;
  min-width: 150px;
  max-width: 210px;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(16, 19, 33);
  overflow-x: auto;
  /*overflow: auto;*/
  padding-top: 20px;
}

nav {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftnav a {
  text-decoration: none;
  font-size: 25px;
  color: #FFFAFA;
  display: block;
  width: fit-content;
  padding: 0.25em;
}

.leftnav a:hover {
  background-color: rgba(128, 128, 128, 0.538);
}

@media screen and (max-height: 500px) {
  .leftnav {padding-top: 15px;}
  .leftnav a {font-size: 18px;}
}

.search-wrapper {
  width: 70%;
}

.cart-wrapper {
  width: 70%;
  color: white;
  position:fixed;
  bottom: 0;
  margin-bottom: 90px;
  
}
.logout a {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  padding: 1rem;
}

.logout{
  color: white;
  position:fixed;
  bottom: 0;
  font-size: 1;
  margin-bottom: 10px;
}

.cart_icon{ 
  width:40px; 
  height:30px; 
  } 

  app-cart{
    margin-left: 10px;
    padding-bottom: 20px;
  }

