<h1>CheckOut</h1>
<form>
  <div class="ckeckout-container">
    <div class="nif">
      <br>
      <p>Introduza os seus dados de faturação:</p>
      <label for="nif">NIF: *</label><br>
      <input type="text" id="nif" name="nif" value=""><br>
      <label for="name">Nome:</label><br>
      <input type="text" id="name" name="name" value=""><br>
      <label for="address">Morada:</label><br>
      <input type="text" id="address" name="address" value=""><br>
      <p id="small-letters">* - obrigatório</p>
    </div>
    <div class="pagamento">
      <p>Selecione método de pagamento:</p>
      <label class="switch" for="cc"> Cartão de crédito
        <input type="checkbox" id="cc" name="metodoPagamento" value="cc" (change)="onCheckboxChange('cc')"
          [checked]="selectedPaymentMethod === 'cc'">
        <span class="slider round"></span>
      </label><br>
      <label class="switch" for="mbway"> MBWay
        <input type="checkbox" id="mbway" name="metodoPagamento" value="mbway" (change)="onCheckboxChange('mbway')"
          [checked]="selectedPaymentMethod === 'mbway'">
        <span class="slider round"></span>
      </label><br><br>
    </div>
  </div>
  <div class="submit" (click)="submit()">
    <input type="submit" value="Submit"><br>
  </div>
  <div class="total">
    <p>Total: {{ getTotalPrice() }}€</p>
  </div>
</form>