<div *ngIf="user" id="profile-container">
  <div id="user-header">
    <div id="user-img"></div>

    <div class="image-container">
      <img *ngIf="images && images.length > 0" 
           [src]="'data:' + user.imagens.contentType + ';base64,' + images" />
    </div>

    <h1 id="user-name">{{ this.user.name }}</h1>
  </div>
  <div id="user-menu">
    <ul>
        <h2 routerLink="/user-profile/{{ this.user.id }}/library" id="user-library">Library</h2>
        <div class="user-menu-submenu-library">
          <ul>
            <li *ngFor="let item of library">
              <a routerLink="/itemsdetail/{{item.id}}">
                {{item.name}}
              </a>
            </li>
          </ul>
        </div>
        <a href="#" class="user-menu-item"></a>
        <div class="user-menu-submenu-lists">
          <app-lists></app-lists>
        </div>
        <a href="#" class="user-menu-item"></a>
        <div class="user-menu-submenu-followers">
          <app-followers></app-followers>
        </div>
        <a href="#" class="user-menu-item"></a>
        <div class="user-menu-submenu-following">
          <app-following></app-following>
        </div>
    </ul>
  </div>
</div>
