label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 50%;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

select {
  font-size: 1em;
  padding: .5rem;
}

#profile-container {
  margin-left: 210px; /* Changed from 210px to 460px */
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr repeat(1fr);
  gap: 10px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

img {
  width: 150px;
  height: 150px;
}

#profile-container > * {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0;
}
.user-menu-submenu-library{
  margin-right: 430px;
}
.user-menu-submenu-lists{
  margin-right: 430px;
}
.user-menu-submenu-followers{
  margin-right: 350px;
}
.user-menu-submenu-following{
  margin-right: 350px;
}

#user-name {
  grid-column: 1 / span 2;
}

#user-img {
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-library {
  margin-right: 430px;
  justify-content: left;
}

#user-lists {
  
  justify-content: left;
  grid-column: 1 / 3;
  grid-row: 3;
  gap: 20px; 
}

.list-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.list-menu > * {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 1em;
  width: 10px;
}

li {
  list-style: none;
}
.edit a {
  background-color: #eee;
  border: none; /* Remove the border line */
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  padding: 1rem;
}

.edit {
  color: white;
  position: fixed;
  bottom: 0;
  font-size: 1;
  margin-bottom: 10px;
}

