.signup-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5em;
  font-size: x-large;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
}


.form-container, #password-creation-rules {
  min-width: 300px;
  width: 20%;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%
}

#password-creation-rules {
  position: relative;
  right: 200px;
}

.form-container > form {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}


label {
  display: block;
  text-align: start;
  font-weight: bold;
  color: #565656;
}

input {
  display: block;
  width: 95%;
  border: 1px solid #ccccccc2;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2em;
  outline: none;
  font-size: x-large;
}


.create-button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: #1a60ac;
  color: #fff;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
  margin: 0;
  margin-top: 5px;
  outline: none;
  border: 2px solid #ffffff00;
}

button:hover, button:focus {
  background-color: rgb(37, 44, 75);
  color: white;
}

button:focus {
  border: 2px solid #ccc;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.back-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-left: 200px;
}

.store {
  color: rgb(0, 255, 0);
  text-align: center;
  font-style: italic;
}