<!DOCTYPE html>
<html>
<head>
  <title>User Edit</title>
  <style>
    .error {
      color: red;
    }
  </style>
</head>
<body id = "edit">
  <h1>User Edit</h1>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" title="Must be alphanumeric and at least 3 characters">

    <br><br>

    <label for="profileImage">Profile Image:</label>
    <input type="file" id="profileImage" name="profileImage" [(ngModel)]="profileImage">

    <br><br>

    <input type="submit" value="Save">
  </form>
  <div class="back_button"> <button type="button" (click)="goBack()">Go back</button></div>
</body>
</html>
