/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
  }

h1 {
    padding-left: 300px;
    padding-top: 50px;
  }
  
  .dashboard-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 300px;
  }
 
  
  a {
    background-color: #3f525c;
    padding: 100px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;

  }

  div {
    line-height: 150px;
    text-align: center;
  }
 