<h1 routerLink="/">User Dashboard</h1>

<div class="dashboard-menu">
    <div class="item1">
        <a routerLink="/user-profile/${getIdLogin()}/lists">Lists</a>
    </div>
    <div class="item2">
        <a routerLink="/user-profile/${getIdLogin()}/library">Library</a>
    </div>
    <div class="item3">
        <a routerLink="/user-profile/${getIdLogin()}/following">Following</a>
    </div>
    <div class="item4">
        <a routerLink="/user-profile/${getIdLogin()}/followers">Followers</a>
    </div>
    <app-items-search></app-items-search>
</div>
