/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
  }
  
  .dashboard-menu {
    padding: 0;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
  }
 
  
  a {
    display: inline; 
    background-color: #3f525c;
    border-radius: 2px;
    padding: 3.0rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 270px;
    min-height: 170px;
    box-sizing: border-box;

  }

  div {
    height: 100px;
    line-height: 150px;
    text-align: center;
  }
 
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: #000;
  }